
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


@font-face{
    font-family: 'MyFont';
    src: url('font/MyFont.ttf') format('truetype');
}

body{
    background-image: url(image/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'MyFont', sans-serif;
    color:white;
}

#game{
    display:none;
}

#win{
    color:red;
    display:none;
}

#lose{
    color:red;
    display:none;
}


#header{
    text-align:center;
    font-size: 60px;
}

#container{
    text-align:center;
}

#play{
    font-family: 'MyFont', sans-serif;
    width:140px;
    height:80px;
    font-size:36px
}

#score{
    display:flex;
    font-size:25px;
    justify-content:center;
    gap:55vw;
}

#imageSpot{
    display:flex;
    justify-content:center;
    gap:55vw;
    height: 300px;
}

#playerImage{
    display:none;
}

#computerImage{
    display:none;
}


#rps{
    display:flex;
    justify-content:center;
    padding-top:90px;
    gap:20vw;
}

.btn{
    font-family: 'MyFont', sans-serif;
    width:120px;
    height:120px;
    background-size:cover;
    background-position:center;
}

#rock{
    background-image: url('image/rock.jpeg');
}

#paper{
    background-image: url('image/paper.jpeg');
}

#scissors{
    background-image: url('image/scissors.jpeg');
}




